
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Button style */
.lm1{
  width: 122px;
  height: 41px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background-color: #5490F5;

}

.lm2{
  width: 122px;
  height: 41px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background-color: #09A15C;
}

.lm3{
  width: 122px;
  height: 41px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  background-color: #FFC239;
}



/* shared styles */

.img-card{
  width: 62px;
  height: 62px;
}



/* title */
.title-font{
  font-size: 40px;
  font-weight: bold;
}



/* Bg color */
.all-bg-color{
  background-color: #F1F1F3;

}


/* btn */
.primary-btn{
  width: 300px;
  height: 56px;
  color: white;
  font-size: 18px;
  padding: 17px 34px;
  background-color: #006A50;
  font-weight: 600;
  border: none;
}

/* Nav */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.nav-titile{
  font-size: 32;
  font-weight: bold;
  

}

.nav-btn{
  font-size: 20px;
  font-weight: bold;
  color: #006A50;
  width: 116px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #006A50;
  
  
}

/* Banner */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C6E4D6;
  width: 1280px;
  height: 560px;
  border-radius: 24px;
  /* padding: 56px 59px 50px; */
  gap: 64px;
  
  
}

.banner-text{
  height: 326px;
  width: 622px;
  padding: 117px 0px 117px 59px;
  
}

.banner-img{
  width: 474px;
  height: 400px;
  padding: 80px 59px 80px 0px;
}


.banner-sub{
  font-size: 24;
  color: #0E0E0E;
  opacity: 50%;
}

.banner-title{
  font-size: 40px;
  font-weight: bold;
  
}


/* Card style */


.card{
  display: flex;
  gap: 24px;
  width: 1280px;
  height: 244px;
  text-align: justify;
  /* justify-content: center; */
  
  
}

.about-card{

  width: 302px;
  height: 244px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}

/* 2nd Card/ Card Container */
.card-container{
  display: flex;
  gap: 24px;
  
}

.card-style{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: white;
  padding: 32px;
}

.card-title{
  margin-bottom: 12px;
}

.card-bg1{
  background-color: rgba(84, 144, 245, 0.2);
}

.card-bg2{
 background-color: #C6E4D6;
}

.card-bg3{
 background-color: #F7EBCF;
}






/* Main Style */
.main{
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* News */

.news-title{
  font-size: 20px;
  font-weight: 500px;
}



.news-container{
  display: flex;
  gap: 32px;
  background-color: white;
  width: 1280px;
  height: 402px;
  border-radius: 24px;
  align-items: center;
}

.date-time{
  display: flex;
  gap: 12px;
}

.image{
  width: 408px;
  height: 306px;
}



/* news image */
.satelite{
  width: 408px;
  height: 306px;
  padding: 48px 0 48px 48px;
  border-radius: 20%;
}

.news-card{
  width: 744px;
  height: 290px;
  padding: 56px 48px 56px 0px;

}

.rm-news{
  width: 139px;
  height: 48px;
  font-size: 18px;
  font-weight: 500px;
  color: white;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
}

.rm-news:hover{
  color: white;
  background-color: #FFC239;
}

/* Today Donate */

.money-container{
  display: flex;
  gap: 24px;
  width: 1071px;
  height: 128px;
  margin-bottom: 32px;
  
}

.tk{
  font-size: 40px;
  width: 200px ;
  height: 70px;
  border-radius: 16px;
  align-content: center;
  box-shadow: 0px 4px 4px 0px rgba(14, 14, 14, 0.15);
  padding: 40px 40px;
  background-color: white;
 } 

 .tk:hover{
  color: black;
  background-color: #006A50;
 }
 
 .other{
  align-items: center;
  text-align: center;


 }

.money-donate{
  margin-bottom: 32px;
}

.text-area{
  text-align: center;
  
}